
.right-side {
    width: auto;
    display: flex;
    flex-direction: column;
}
.right-side h3 { 
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-transform: none;
    font-weight: 700;
    color: #707070;
    margin-left: 3em;
    margin-top: 2em;
}
.setarimenu {
    padding: 15px;
    width: auto;
    background: #f3f3f3;
    margin-left: 25vh;
  }
  
  .setarimenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60vh;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    text-align: center;
    
  }
  
  .setarimenu li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: block;
    color: white;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #555;
    border-radius: 10px;
  }
  
  .setarimenu li a:hover {
    background: linear-gradient(120deg, rgba(233,231,233,1), rgba(220,209,209,1) 100%);
    color: #555;
    font-weight: 600;
  }

  .settings-header {
    padding: 15px;
    width: 100vh;
    background: #f3f3f3;
    margin-left: 10vh;
    height: auto;
    background-image: url('../images/settings.jpg');
    background-position: center;
    /* background-size: 2000px; */
    background-size: cover;
    /* opacity: 0.3;     */

    text-align: left;
    align-content: center;
    border-radius: 20px;
    opacity: 0.5;
    color: #707070;
    
  }

  .settings-header h2 {
    /* font-family: 'Raleway', sans-serif; */
    position: relative;
    font-weight: 300;
    color: black;
    margin-left: 2vh;

  }

   #setarimenu {
      display: none;
   }