body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;

  top: 0;
  bottom: 0;
  height: 100vh;
  width: auto;

  background-color: #f3f3f3;
}

.menu {
  width: 35vh;
  background: rgb(233,231,233);
  background: linear-gradient(120deg, rgba(233,231,233,1), rgba(220,209,209,1) 100%);
  text-align: center;
}

.menu h3, .setarimenu h3{
  color: #707070;
  font-family: 'Raleway', sans-serif;
  /* font-size: 10px; */
  margin-top: 30px;
  text-transform: uppercase;
}

hr {
  width: 80%;
  color: #707070;
  text-decoration: none;
}
.menu a {
  margin-top: 20px;
  color: #707070;
  text-decoration: none;
}

.setarimenu {
  padding-top: 30px;
  width: 170vh;
  background: rgb(233,231,233);
  background: linear-gradient(120deg, rgba(233,231,233,1), rgba(220,209,209,1) 100%);
  text-align: center;
}

.setarimenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60vh;
}

.setarimenu li a {
  font-family: 'Raleway', sans-serif;
  display: block;
  color: white;
  margin-top: 10px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #555;
  border-radius: 10px;
}

.setarimenu li a:hover {
  background-color: #f1f1f1;
  color: black;
}

.avatarprofile {
    border-bottom-left-radius: 10px;
}

.avatarprofile img {
    border-radius: 5%;
    margin-top: 2em;
    width: 10em;
}