body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;

  top: 0;
  bottom: 0;
  height: 100vh;
  width: auto;

  background-color: #f3f3f3;
  overflow: hidden;
}

.menu {
  width: 35vh;
  background: rgb(233,231,233);
  background: linear-gradient(120deg, rgba(233,231,233,1), rgba(220,209,209,1) 100%);
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  /* position: sticky; */
  height: auto;
  /* position: -webkit-sticky; */
  top: 0; 
}


.menu h3, .setarimenu h3{
  color: #707070;
  font-family: 'Raleway', sans-serif;
  /* font-size: 10px; */
  margin-top: 30px;
  text-transform: uppercase;

}

hr {
  width: 80%;
  color: #707070;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu a {

  color: #707070;
  text-decoration: none;

}

.menu a.active{
  background-image: radial-gradient(ellipse closest-side, rgba(248, 231, 231, 0.199) 0%,rgba(255, 255, 255, 0.267) 75%,rgba(255, 255, 255, 0.041) 100%);
  border-radius: 50%;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.menu p {
   margin-top: 20px;
   margin-bottom: 40px;
}


.avatarprofile {
    /* border-bottom-left-radius: 10px; */
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avatarprofile img {
    /* border-radius: 50%; */
    /* margin-top: 2em;
    width: 10em;
    height: auto; */
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}


@media only screen and (max-width: 600px) {

  body {
      display: flex;
      flex-direction: column;
      /* height: 100vh;     */
  }

  .menu {
      order: 2;
      width: 100%;
      height: 7vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: flex-end;
      bottom:0% !important;
  }

  .background {
      width: 100%;
  }

  .menu hr {
      display: none;
  }
  .menu .avatarprofile {
      display: none;
  }

  .menu p, h3 {
      display: none;
  }

  .menu a {
      padding: 10px;
      font-size: 14px;
  }

  .menu a.active {
    padding: 10px;
  }

}